.Header .right-section {
    max-width: calc(78% - 60px);
    min-width: calc(78% - 60px)
}

.Header .profile-actions-div {
    max-width: 100%;
}

.Header .username {
    max-width: min(75%, 380px);
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Header .actions-div {
    min-width: 135px;
    max-width: 320px;
}

.Header .name {
    line-height: 2;
    font-size: 16px;
    font-weight: 600
}

.Header .right-section>div {
    margin-bottom: 20px;
}

.Header .audience-div {
    max-width: 420px;
}

.Header .audience-div div span {
    font-weight: 600;
}

.Header .audience-div.bottom-div {
    max-width: none;
    padding: 12px 0;
    border-top: var(--default-border);
}

.Header .audience-div.bottom-div div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 33.333%;
}

.h-100px {
    height: 100px
}